<mat-expansion-panel>
  <mat-expansion-panel-header>
    {{question.name}}
  </mat-expansion-panel-header>
  <mat-form-field>
    <input matInput (keyup)="onKey($event)" placeholder="Question Name">
  </mat-form-field>
  <mat-form-field class="fullwidth">
    <input matInput placeholder="Question">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="Checkbox">Checkbox
      </mat-option>
      <mat-option value="Choicebox">Choicebox
      </mat-option>
      <mat-option value="TextArea">Choicebox
        </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button mat-button (click)=" choice() ">Add Choice</button>
  </div>
  <mat-card>
    <mat-accordion>
      <app-designchoice *ngFor="let choice of question.choices">

      </app-designchoice>
    </mat-accordion>
  </mat-card>

</mat-expansion-panel>